@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .noise-bg {
    position: relative;

    &::after {
      content: '';
      background-image: url('/noise.svg');
      background-size: 800px 800px;
      @apply h-full w-full grayscale mix-blend-luminosity absolute top-0 left-0 block;
    }
  }

  .noise-bg>* {
    z-index: 1;
  }

  .debug-responsive {
    @apply sm:bg-red-300 md:bg-green-300 lg:bg-blue-300;
  }

  .scrollbar{ @include customScrollBar }

  /* .noise-bg::after {
    content: '';
    display: block;
    background-image: url('/hapebeast.png');
    @apply grayscale mix-blend-luminosity top-0 left-0 h-full w-full absolute block bg-contain bg-no-repeat;
  } */
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  /* width: 100vw; */
  /* overflow: hidden; */
  /* @apply bg-red-500; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  z-index: 999;
}