.container {
  padding: 0 2rem;
}

.description {
  @apply text-neutral-500 my-2;

  a {
    @apply underline text-neutral-200 capitalize;
  }
}

.projectsContainer {
  @apply space-y-3;

  &:hover > div{
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}