.nft {
   background-image: url('/nft.svg');
   background-repeat: no-repeat;
   background-position: top left;
   background-size: contain;
   @apply w-full h-[120px] sm:h-[180px] md:h-[320px] lg:mb-12 object-contain;
}

.circle {
   @apply w-full h-full rounded-full bg-green-50 relative;
   @apply ring-[12px] ring-gray-200 opacity-70 md:opacity-100;
}

.circle::before {
   content: '';
   position: absolute;
   height: 50%;
   z-index: 1;
   @apply hidden md:block w-full bottom-0 left-0 ring-[50px] ring-teal-600/40 rounded-b-full;
}

.circle::after {
   content: '';
   display: block;
   position: absolute;
   z-index: 2;
   /* @apply h-full w-full bottom-0 left-0 ring-[12px] ring-teal-200/50 rounded-full; */
   @apply h-full w-full bottom-0 left-0 ring-[12px] ring-teal-200/50 rounded-full animate-ping;
}