.circle {
   @apply w-full h-full rounded-full bg-green-50 relative;
   ;
}

.circle::before {
   content: '';
   display: block;
   position: absolute;
   height: 50%;
   z-index: 1;
   @apply w-full bottom-0 left-0 ring-[40px] ring-teal-200 rounded-b-full ring-opacity-50;
}

.circle::after {
   content: '';
   display: block;
   position: absolute;
   z-index: 2;
   @apply h-full w-full bottom-0 left-0 ring-[12px] ring-gray-200 rounded-full;
}